<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mall.dao.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.hb.mall.dao.entity.Brand">
    <!--@mbg.generated-->
    <!--@Table brand-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="brand_pic" jdbcType="VARCHAR" property="brandPic" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="rec_time" jdbcType="TIMESTAMP" property="recTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="first_char" jdbcType="VARCHAR" property="firstChar" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, brand_name, brand_pic, user_id, memo, seq, `status`, brief, content, rec_time, 
    update_time, first_char
  </sql>
</mapper>